body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #f3f7f7;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 25px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #0a3b5c;
}

.descricao {
    max-width: 900px;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    margin-bottom: 20px;
}

.pontos {
    text-align: right;
    margin-right: 20px;
    font-size: 30px;
    user-select: none;
}

/* GRID */
.grid-personas {
    margin-top: 20px;
    background: #0a3b5c;
    padding: 25px;
    border-radius: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 18px;
}

/* CARD */
.card {
    background: white;
    border-radius: 14px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    transition: .2s;
}

.card:hover {
    transform: scale(1.03);
}

/* Card Criar */
.card.criar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dashed #074d75;
}

.card.criar .plus {
    font-size: 42px;
    font-weight: bold;
    color: #074d75;
}

.circle {
    width: 70px;
    height: 70px;
    background: linear-gradient(to bottom, #d95f70, #c94156);
    border-radius: 50%;
    margin: 10px auto 15px auto;
}

h3 {
    font-size: 16px;
    margin: 0;
    color: #0a3b5c;
}

.sub {
    font-size: 13px;
    margin-top: 4px;
    color: #777;
}
