.card-plan{
    width: 400px;
    background-color: #efefef;
    transition: all 0.2s ease-in-out;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
}

.card-plan:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px #193E4E;
}

.call-action-button {
    bottom: 0;
    margin-top: auto;
}

.card-plan .background{
    border-bottom-color: #193E4E;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.main{
    background-color: #efefef;
    height: 100%;
    width: 40%;
    padding: 5%;
    z-index: 10;
    box-shadow: -5px 0px 20px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.form-group{
    width: 100%;
}

.form-group h1{
    font-size: 20px;
    color: #193E4E;
    margin-bottom: -5px;
}

.form-group input{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background-color: #d1d1d1;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
}