/* trecho retirado do codepen, link: https://codepen.io/goodkatz/pen/LYPGxQz*/
.waves-container {
    position: absolute;
    bottom: -140px;
    right: -265px;
    width: 1000px;      /* ajuste livre */
    height: 500px;
    transform: rotate(-45deg);
    overflow: hidden;
    pointer-events: none; /* evita bloquear cliques */
}

.waves {
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.parallax > use {
    animation: wave-move 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1){ animation-delay:-2s; animation-duration:7s; }
.parallax > use:nth-child(2){ animation-delay:-3s; animation-duration:10s; }
.parallax > use:nth-child(3){ animation-delay:-4s; animation-duration:13s; }
.parallax > use:nth-child(4){ animation-delay:-5s; animation-duration:20s; }

@keyframes wave-move {
    0%{ transform:translate3d(-90px,0,0); }
    100%{ transform:translate3d(85px,0,0); }
}