* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* verificar tom de cor dps */
.header {
    width: 100%;
    background-color: #1f7079; 
    padding: 12px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.logo img {
    height: 45px;  
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
}

.menu a:hover {
    opacity: 0.7;
}
