* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: linear-gradient(180deg, #0B5961 0%, #2A9CA8 100%);
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.logo img {
    height: 80px;  
    margin-left: 0px;

}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
}

.menu a:hover {
    opacity: 0.7;
}
